.Editor {
    position: relative;
}

.Editor textarea {
    display: block;
    width: 100%;
    height: calc(50vh - (190px / 2));
    box-sizing: border-box;
    border: 3px inset;
    resize: none;
    background: #202020;
    color: #ccc;
    font-size: 1rem;
}

.Editor button {
    position: absolute;
    bottom: 3px;
    right: 3px;
    opacity: 0;
}

.Editor:hover button,
.Editor:active button,
.Editor:focus button,
.Editor textarea:active + button,
.Editor textarea:focus + button {
    opacity: 1;
}
